<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.student.servlet.StudentServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>com.student.servlet.StudentServlet</servlet-class>
  </servlet>
  
 <servlet>
    <servlet-name>viewStudent</servlet-name>
    <servlet-class>com.student.servlet.StudentServlet</servlet-class>
  </servlet>
  
  
    <servlet>
    <servlet-name>deleteStudent</servlet-name>
    <servlet-class>com.student.servlet.StudentServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>updateStudent</servlet-name>
    <servlet-class>com.student.servlet.StudentServlet</servlet-class>
  </servlet>
  
<servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
</servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>updateStudent</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>deleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
 

  <servlet-mapping>
    <servlet-name>viewStudent</servlet-name>
    <url-pattern>/viewStudent</url-pattern>
  </servlet-mapping>
</web-app>